.admin{
    background-color: #c4e9fc;
width: 100%;
height: 100vh;

}

.admin__container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.admin__info{
    background-color: white;
    width: 50%;
}